.home {
  height: 500px;
  width: auto;
  color: red;
  background-image: url("https://i.pinimg.com/736x/97/d5/ae/97d5aedc9e2b17ac9a49adde302504f3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
}
